.sortBar {
  display: flex;
  font-size: 1rem;
  border-radius: 25px;
  text-transform: lowercase;

  &:focus-within {
    outline: 1px solid rgb(106, 109, 145);
  }
}

.sortLabel {
  display: inline-block;
  border: none;
  padding: 0.5rem 0.8rem;
  border-right: none;
  border-radius: 25px 0 0 25px;
  color: #8e7eb1;
  background-color: rgb(18, 18, 18);
  
  &::first-letter {
    text-transform: capitalize;
  }
}

.sortSelect {
  box-sizing: content-box;
  appearance: none;
  border: none;
  border-right: none;
  background: rgb(18, 18, 18);
  padding: 0 12px 0 0;
  text-align: center;
  color: #6c6d9c;
  border-radius: 0 25px 25px 0;
  font-size: 0.9rem;
  cursor: pointer;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:-internal-list-box {
    cursor: pointer;
  }

}

.sortOption:hover {
  cursor: pointer;
}